<p id="notice"><%= notice %></p>

<h1>Actual Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Total</th>
      <th>Source</th>
      <th>Status</th>
      <th>Dateincurred</th>
      <th>Imageurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actual_expenses.each do |actual_expense| %>
      <tr>
        <td><%= actual_expense.type %></td>
        <td><%= actual_expense.total %></td>
        <td><%= actual_expense.source %></td>
        <td><%= actual_expense.status %></td>
        <td><%= actual_expense.dateincurred %></td>
        <td><%= actual_expense.imageurl %></td>
        <td><%= link_to 'Show', actual_expense %></td>
        <td><%= link_to 'Edit', edit_actual_expense_path(actual_expense) %></td>
        <td><%= link_to 'Destroy', actual_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actual Expense', new_actual_expense_path %>
