<% if @submitter.name.nil? or @submitter.name == "" %>
    <h2>edit submitter's profile</h2>
<% else %>
    <h2>edit <%= @submitter.name %>'s profile</h2>
<% end %>

<%= simple_form_for(@submitter, as: @submitter, url: submitter_path(@submitter), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :address, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "update" %>
  </div>
<% end %>

